<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650432802672-adtg98gi18c3cdscpdgd2tru7hhpn0cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650432802672-adtg98gi18c3cdscpdgd2tru7hhpn0cr</string>
	<key>API_KEY</key>
	<string>AIzaSyDdcQkkf5_hCTTY8lLnN76SQEoNFjN7l6o</string>
	<key>GCM_SENDER_ID</key>
	<string>650432802672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiantapps.-39FinalProject</string>
	<key>PROJECT_ID</key>
	<string>hiking-18093</string>
	<key>STORAGE_BUCKET</key>
	<string>hiking-18093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650432802672:ios:1dbb6301ea805c459ea9b5</string>
	<key>DATABASE_URL</key>
	<string>https://hiking-18093-default-rtdb.firebaseio.com</string>
</dict>
</plist>